@import url(http://fonts.googleapis.com/css?family=Rokkitt:700);
@import url(http://fonts.googleapis.com/css?family=Karla);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);


body {
margin:0;
font-size: 11px;
background-image:url('main2-bg.jpg');

}

 #wrapper
{
    margin: 0;
    
}

#content
{
    background-color:White;
    width: 1000px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 55px;
    padding-bottom: 55px;
}

#topmenu ul
{
    list-style-type: none;
    width: auto;
    position: relative;
    display: block;
    height: 33px;
    font-size: .6em;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;

}

#topmenu li {
display:block;
float:left;
margin:0;
padding:0;
}

#topmenu li a {
float:left;
color:#A79787;
text-decoration:none;
height:24px;
padding:9px 15px 0;
font-weight:normal;
}

#topmenu li a:hover,.current {
color:purple;
text-decoration:none;
}

#topmenu .current a {
color:#fff;
font-weight:700;
}
    
#intro 
{
    width: 1000px;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
    }

p
{
    padding: 5px 30px;
    font-size: 14px;
    font-family: 'PT Sans', Sans-Serif;
    list-style-type:none;
    line-height: 18px;
}

h1.title
{
    font-family: 'Rokkitt', serif;
    font-size: 45px;
    text-align:center;
}

h2
{
    font-family: 'Rokkitt' , serif;
    font-size: 26px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #C4C4C4;
}

#topcontent 
{
    width: 1000px;
    margin-left:auto;
    margin-right:auto;
    background-color:#ffffff;
}

#dotplot 
{ width: 950px;
  margin-left:auto;
  margin-right:auto;
  font: 10px sans-serif;
}

.chart {
 margin-left:auto;
 margin-right:auto; 
}

#dotplots
{ width: 950px;
  margin-left:auto;
  margin-right:auto;
  font: 10px sans-serif;
  position: relative;
  top: 0px;
  left: 0px;
}

.description 
{
    padding-bottom: 10px;
}
    
#miniplot2 
{
    margin-left: 15px;
    position: absolute;
    right: 52px;
    top: 52px;
}   

.footnotes a
{
    font-size: 10px;
}

ul, li
{
    padding: 5px 30px;
    font-size: 14px;
    font-family: 'PT Sans', Sans-Serif;
    list-style-type:none;
    padding-top:0px;  
}

li a:link, li a:visited
{
    text-decoration: none;
    color: #ED8029;
}

li a:hover
{
    color: purple;
}    

#pagenav
{
    width: 150px;
    padding: 10px 5px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 55px;
	margin-top: 20px;
    background-color:#ED8029;
    color: #ffffff;
    font-size: 24px;
    font-weight:bolder;
    font-family: 'PT Sans', Sans-Serif;
    text-align: center;
	border: 3px solid rgb(243,243,243);
    -moz-border-radius: 10px 20px 10px 20px;
    border-radius: 7px 20px 7px 20px;
    -moz-box-shadow:  1px 1px 2px 3px #ccc;
    -webkit-box-shadow:  1px 1px 2px 3px #ccc;
    box-shadow: 1px 1px 2px 3px #ccc;
    text-decoration: none;    
    }

#pagenav a, #pagenav a:visited
{
   text-decoration:none;
   color:#ffffff; 
}

#TreeMapID19144a192c95
{
    margin-left:auto;
    margin-right:auto;
}	

#map_canvas { 
	height: 650px; 
	width:900px;
	margin-left:auto;
    margin-right:auto;
}

#GeoChartID191434dc2c03
{
    margin-left:auto;
    margin-right:auto;
}

#MotionChartID191455ba71a
{
	margin-left:auto;
    margin-right:auto;
	}
	
#AnnotatedTimeLineID1914494521b0
{
	margin-left:auto;
    margin-right:auto;
}	