
body, html {
    text-rendering: optimizeLegibility;
font-feature-settings: "kern";
-webkit-font-feature-settings: "kern";
-moz-font-feature-settings: "kern";
-moz-font-feature-settings: "kern=1";
-webkit-font-smoothing: antialiased;
height: 100%;
height: 100%;
background: #ffffff;
}

body {
color: #343434;
font-family: "lato", sans-serif;
font-size: 18px;
line-height: 25px;
margin:0;
}

#cover-image {
background: #565656;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 95%;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
z-index: 0;
-webkit-transition: height 50ms cubic-bezier(0.42, 0, 0.58, 1);
-moz-transition: height 50ms cubic-bezier(0.42, 0, 0.58, 1);
-ms-transition: height 50ms cubic-bezier(0.42, 0, 0.58, 1);
-o-transition: height 50ms cubic-bezier(0.42, 0, 0.58, 1);
transition: height 500ms cubic-bezier(0.42, 0, 0.58, 1);
    background-image: url(https://exposure-3.imgix.net/production/posts/21385/cover-photo/cover-1390594058.jpg?w=1280&q=92)
}

header {
height: 100%;
background: #fff;
position: relative;
color: #fff;
margin-bottom: 0%;
overflow: hidden;
}

.titles {
position: absolute;
z-index: 6;
text-align: center;
color: #fff;
top: 54%;
width: 100%;
margin-top: -122px;
}

#cover-image h1 {
text-transform: uppercase;
letter-spacing: 4px;
font-size: 65px;
font-size: 6vw;
line-height: normal;
margin: 0 0 1% 0;
text-align: center;
text-shadow: 3px 1px 3px rgba(0, 0, 0, 0.5);
font-family: lato, sans-serif;
}

#cover-image:after {
    content: " ";
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.3);
transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
}

#cover-image h2 {
line-height: normal;
font-size: 45px;
font-size: 3vw;
font-family: pt-serif,  serif;
font-weight: normal;
font-style: italic;
}

.group {
    margin-bottom: 6%;
position: relative;
text-align: center;
width: 80%;
}

.content {
    width: 80%;
    margin: 0px auto;
}

.group h2 {
line-height: normal;
font-size: 55px;
-webkit-animation: fadeIn;
-webkit-animation-fill-mode: both;
-moz-animation-fill-mode: both;
animation-fill-mode: both;
-webkit-animation-duration: 0.5s;
-moz-animation-duration: 0.5s;
animation-duration: 0.5s;
word-wrap: break-word;
max-width: 900px;
margin-left: auto;
margin-right: auto;
text-transform: uppercase;
color: #000;
letter-spacing: 3px;
font-size: 55px;
line-height: normal;
margin: 0% 0 2% 0;
}


